<header>
    <h1>Meine Webseite</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
        <a href="/eingeloggt">Memberbereich</a>

    </nav>
</header>
<hr>