<header>
    <h1>Meine Webseite</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/about">Über uns</a>
        <a href="/seite1">Seite 1</a>
        <a href="/seite2">Seite 2</a>

    </nav>
</header>
<hr>