<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
  <%- include('partials/header') %>
  <h1>Willkommen auf der Startseite!</h1>
  <h1><%= message %></h1>
  <%- include('partials/footer') %>
</body>
</html>