<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <%- include('partials/header') %>
  <h1><%= message %></h1>
  <p>Fülltext eingefügt bei "Über uns"</p>
  <br>
  <p>Tolle Gedichte geschrieben in Seite1 und Seite2</p>
  <br>
  <p>Möchtegern Willkommenstext liest du grade - ich mach jetzt Feierabend</p>
  <%- include('partials/footer') %>
</body>
</html>