<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <%- include('partials/header') %>

  <h1><%= message %></h1>
  <p>
    Ich tippte Code, von früh bis spät,  
    Doch sah ich bald, wohin das geht.  
    Arrays und Schleifen, Tag für Tag,  
    Wurden mir zur schweren Plag'.  
  
    Die Bits und Bytes, sie quälten sehr,  
    Mein Herz, es sehnte sich nach mehr.  
    Statt Compiler, lieber Hammer,  
    Und Arbeit draußen, ohne Jammer.  
  
    So zog ich raus, die Baustelle ruft,  
    Der Staub, der Beton, der kalte Luft.  
    Fachinformatiker? Das war einst,  
    Jetzt bin ich Helfer, der Kran mir winkt.  
  
    Kein Debuggen, kein endloses Testen,  
    Nur Schaufeln, Hämmern – viel mehr Gesten.  
    Die Freiheit spür' ich, Tag für Tag,  
    Und auch der Muskel, der jetzt mag.
  </p>

  <%- include('partials/footer') %>
</body>
</html>
